body {
    background-image: url('background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo img {
    padding: 50px;
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}

.menu-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
}

.menu-section {
    flex-basis: 45%;
    margin-bottom: 2em;
}

.menu-section ul {
    font-size: 20px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
}

.menu-section h2 {
    font-size: 24px;
    color: #00c8ff;
    text-shadow: 1px 1px 2px rgb(0, 234, 255); /* Lägger till en skuggning runt menyrubrikerna */
    padding: 5px 10px; /* Lägger till lite padding för att öka synligheten */
}

.menu-section ul li span {
    display: inline-block;
    text-shadow: 1px 1px 2px rgb(0, 255, 238); /* Lägger till en skuggning runt produkterna i menyn */
    padding: 5px 10px; /* Lägger till lite padding för att öka synligheten */
}


.menu-section ul li span:first-child {
    width: 250px;
    text-align: left;
}

a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-button {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    width: 300px;
    font-size: 28px;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.menu-button:active {
    transform: scale(0.95);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrera knapparna horisontellt */
    margin-top: 20px; /* Separation från loggan */
}

@media only screen and (max-width: 768px) {
    .menu-button {
        width: 80%;
        padding: 15px;
        font-size: 22px;
    }

    .menu-section ul li span:first-child {
        width: auto;
    }
}
