body {
    background-image: url('Marble.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100%;
    position: relative;
    z-index: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo img {
    padding: 50px;
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}

.shisha-image {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
}

.menu-sections {
    display: flex;
    flex-direction: column;  /* Lägg till detta */
    align-items: center;     /* Lägg till detta */
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
    z-index: 2;
}


.menu-section {
    flex-basis: 45%;
    margin-bottom: 2em;
}

.menu-section ul {
    font-size: 20px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
}

.menu-section h2 {
    font-size: 24px;
    color: #00c8ff;
    text-shadow: 1px 1px 2px rgb(0, 234, 255);
    padding: 5px 10px;
}

.menu-section ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-section ul li span {
    display: inline-flex;
    text-shadow: 1px 1px 2px rgb(0, 255, 238);
    padding: 5px 10px;
}

a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-button {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    width: 300%;
    font-size: 28px;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.menu-button:active {
    transform: scale(0.95);
}

@media only screen and (max-width: 768px) {
    .menu-button {
        width: 80%;
        padding: 15px;
        font-size: 22px;
    }

    .menu-section ul li span:first-child {
        width: auto;
    }
}
